/* #EFF2F1 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #019c78;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #007b5e;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 18px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.mainContainer {
  width: 100%;
  height: 100vh;
  background-color: #eff2f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking {
  width: 50%;
  height: 15%;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.booking h2 {
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
}

.trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.trip-infos {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
