/* #EFF2F1 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #019c78;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-size: 16px;
  letter-spacing: 1px;
}

.nav-links a:hover {
  color: #007b5e;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  background-color: #eff2f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 50%;
  height: 15%;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart h2 {
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
}

.trip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5eeee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.trip p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.remove-btn {
  background-color: #ff0000;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.5s;
}

.remove-btn:hover {
  background-color: #e60000;
}
