* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #019c78;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #007b5e;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 18px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.mainContainer {
  background-color: #eff2f1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.user label,
.password label {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
}

.user input,
.password input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#btn {
  background-color: #459e85;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

#btn:hover {
  background-color: #428a75;
}

#newAccount {
  margin-top: 20px;
  color: rgb(114, 114, 245);
  cursor: pointer;
}

#newAccount:hover {
  color: rgb(3, 3, 5);
  text-decoration: underline;
}

#title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#btnConnexion {
  background-color: #459e85;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

#btnConnexion:hover {
  background-color: #428a75;
}
